{{ define "main"}}
  {{ partial "header.html" . }}
  {{ if not .Date.IsZero }}
  <!-- date -->
  {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "January 2, 2006"}}
  <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
  {{ end }}
  <!-- content -->
  <div id="contentBody">
  <img src="{{ $.Param "cover-img" }}">
  <h1>{{ .Title }}</h1>
  <br>
  <br>
    {{ .Content }}
  </div>
  <!-- tags -->
  {{ if .Param "tags" }}
  <div id="tags">
    <ul>
      {{ range .Param "tags" }}
        {{ $name := . }}
        {{ with $.Site.GetPage (printf "/tags/%s" ($name | urlize)) }}
          <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ partial "footer.html" . }}
{{ end }}
